@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    

    <ul class="nav navbar-nav navbar-right">
        @Html.AntiForgeryToken()
        @if (User.IsInRole("ADMIN"))
        {
        <li class="dropdown">
            <a href="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Administrar <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="~/Empresas">Empresas</a></li>
                <li><a href="~/Proyectos">Proyectos</a></li>
                <li><a href="~/Servicios">Servicios</a></li>
                <li><a href="~/Account/Register">Registrar empleado</a></li>
                <li><a href="~/Home/ActualizarUsuario">Actualizar empleado</a></li>     
            </ul>
        </li>
        <li>
            <a href="#" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Visualizar Reportes <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="~/ReporteProyectoes">Reporte proyectos</a></li>
                <li><a href="~/ReporteUsuarios">Reporte empleados</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Generar Reportes a Excel <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="~/Proyectos/ExportExcelProyectos">Exportar Proyectos</a></li>
                <li><a href="~/ReporteProyectoes/ExportExcel">Exportar Reporte proyectos</a></li>
                <li><a href="~/ReporteUsuarios/ExportExcel">Exportar Reporte empleado</a></li>
                <li><a href="~/Home/ReporteUsuario">Exportar Reporte por empleado</a></li>
            </ul>
        </li>
        }
        @if (User.IsInRole("ADMIN"))
        {

        }
        else
        {
            <li>
                @Html.ActionLink("Hola " + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
        }
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
