<input type="text" id="identidad"/>
<input type="text" id="salario" />
<input type="text" id="salariohoras" />

<div class="form-group">
    <a class="btn btn-primary update" data-url="@Url.Content("/Home/ActualizarUsuario/")">Actualizar</a>
</div>