@{
    ViewBag.Title = "Home Page";
}


<br />
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <center><img src="~/Imagenes/banner.png" class="img-responsive" /></center>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
                <div class="bg-img">
                    <center><img src="~/Imagenes/Img1.png" style="height:300px;width:100%;" /></center>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
                <div class="bg-img">
                    <center><img src="~/Imagenes/Img2.png" style="height:300px;width:100%;" /></center>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
                <div class="bg-img">
                    <center><img src="~/Imagenes/Img3.png" style="height:300px;width:100%;" /></center>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
                <div class="bg-img">
                    <center><img src="~/Imagenes/Img4.png" style="height:300px;width:100%;" /></center>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <center><h1>¿Ya generaste tu reporte?</h1></center>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <br />
            <center><a href="~/ReporteUsuarios"><button class="efect-shadow" style="border:1px solid black;text-align:center;padding:5px;width:30%;background-color:#003c71;color:white">Generar reporte</button></a></center>           
        </div>
    </div>
</div>