@{
    ViewBag.Title = "Home Page";
}


<br /><br />
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 main-header">

        </div>       
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <br /><br />
            <center><h1>¿Ya generaste tu reporte?</h1></center>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <br />
            <center><a href="~/ReporteUsuarios"><button class="efect-shadow" style="border:1px solid black;text-align:center;padding:5px;width:30%;background-color:#772953;color:white">Generar reporte</button></a></center>           
        </div>
    </div>
</div>