@model IEnumerable<Consultoresvs3.Models.ReporteProyecto>

@{
    ViewBag.Title = "Proyecto";
}

<br />
<center><h2 style="font-weight:bold;">REPORTE DE PROYECTO</h2></center>

<br />

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                Proyecto
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorasInvertidas)
            </th>
            <th>
                Utilidad
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Proyecto.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HorasInvertidas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Utilidad)
                </td>
            </tr>
        }

    </table>
</div>

<br />
<center><a class="btn btn-primary" href="javascript:history.back()"> Volver Atrás</a></center>

<br /><br />
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-xs-6 col-sm-3">
            <div class="div-bottom">
                <div class="bg-img-1">
                    <center><img src="~/Imagenes/Img3.png" class="img-bottom" /></center>
                </div>
            </div>
        </div>
        <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-lg-3 col-md-3 col-xs-6 col-sm-3">
            <div class="div-bottom">
                <div class="bg-img-1">
                    <center><img src="~/Imagenes/Img2.png" class="img-bottom" /></center>
                </div>
            </div>
        </div>
    </div>
</div>

